In [4]:
import xgboost as xg

In [5]:
import pandas as pd

In [34]:
df = pd.read_csv("tcs_only_modeling_abt.tsv", sep='\t')
data = df.drop(["uid", "tech_obs_id", "app_bank_nm", "tech_dog_type", "trg_utilization", "tech_target_source", "tech_target_d"],
               axis = 1)
data.head()

,trg_pd,trg_grace,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,...,var_461,var_462,var_463,var_464,var_465,var_466,var_467,var_468,var_469,var_470
0,0,0,0,1,0,0,1,0,0,0,...,11.87,11.87,23.74,0.0,11.87,35.61,11.87,0.0,0.0,0.0
1,0,1,0,1,0,0,0,0,0,0,...,11.87,11.87,11.87,0.0,0.00,11.87,11.87,0.0,0.0,0.0
2,0,1,0,1,0,0,0,0,0,0,...,0.00,11.87,11.87,0.0,0.00,11.87,11.87,0.0,0.0,0.0
3,0,1,0,1,0,0,1,0,0,0,...,0.00,11.87,11.87,0.0,23.74,35.61,23.74,0.0,0.0,0.0
4,0,1,0,0,0,0,0,0,0,0,...,0.00,11.87,0.00,0.0,11.87,11.87,11.87,0.0,0.0,0.0

In [35]:
data = data.drop(['var_0{}'.format(i) for i in range(63, 73)], axis = 1)
data = data.dropna()
data = pd.get_dummies(data)
data.head()

,trg_pd,trg_grace,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,...,var_062_pochta,var_062_renaissance,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D
0,0,0,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
2,0,1,0,1,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,1,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [36]:
y_pd = data['trg_pd']
y_gr = data['trg_grace']
data = data.drop(['trg_grace', 'trg_pd'], axis=1)
data.head()

,var_001,var_002,var_003,var_004,var_005,var_006,var_007,var_008,var_009,var_010,...,var_062_pochta,var_062_renaissance,var_062_rosbank,var_062_sbrf,var_062_tinkoff,var_062_ubrr,var_062_uralsib,var_062_vtb24,var_073_C,var_073_D
0,0,1,0,0,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
2,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,1
3,0,1,0,0,1,0,0,0,1,0,...,0,0,0,0,0,0,0,1,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

# Пробуем xgboost на всех признаках

In [39]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [40]:
scaler = StandardScaler()
data = pd.DataFrame(scaler.fit_transform(data), columns = data.columns)

In [41]:
PD_train, PD_test, y_pd_train, y_pd_test = train_test_split(data, y_pd, stratify=y_pd)

In [42]:
GR_train, GR_test, y_gr_train, y_gr_test = train_test_split(data, y_gr, stratify=y_gr)

In [46]:
Train_gr = xg.DMatrix(GR_train, label=y_gr_train)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [47]:
Test_gr = xg.DMatrix(GR_test, label=y_gr_test)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \

In [173]:
params = {'objective' : 'binary:logistic'}
params['eval_metric'] = ['error', 'auc']
params['max_depth'] = 5
params['silent'] = False
params['scale_pos_weight'] = 1
params['learning_rate'] = 0.1
params['colsample_bytree'] = 0.4
params['subsample'] = 1
params['n_estimators'] = 100
params['reg_alpha'] = 0.3
params['gamma'] = 5

In [174]:
evallist = [(Test_gr, 'eval'), (Train_gr, 'train')]

In [175]:
bst = xg.train(params, Train_gr, evals=evallist, early_stopping_rounds=50)

[0]	eval-error:0.326101	eval-auc:0.594026	train-error:0.320463	train-auc:0.619933
Multiple eval metrics have been passed: 'train-auc' will be used for early stopping.

Will train until train-auc hasn't improved in 50 rounds.
[1]	eval-error:0.321862	eval-auc:0.606685	train-error:0.320779	train-auc:0.636698
[2]	eval-error:0.321546	eval-auc:0.609908	train-error:0.320864	train-auc:0.640741
[3]	eval-error:0.32142	eval-auc:0.613317	train-error:0.321201	train-auc:0.644831
[4]	eval-error:0.321293	eval-auc:0.616825	train-error:0.321264	train-auc:0.648906
[5]	eval-error:0.321293	eval-auc:0.617954	train-error:0.321243	train-auc:0.650092
[6]	eval-error:0.321356	eval-auc:0.619618	train-error:0.321264	train-auc:0.653216
[7]	eval-error:0.321356	eval-auc:0.619788	train-error:0.321285	train-auc:0.654647
[8]	eval-error:0.321293	eval-auc:0.621684	train-error:0.321285	train-auc:0.656519
[9]	eval-error:0.321293	eval-auc:0.622266	train-error:0.321285	train-auc:0.657795

In [178]:
%matplotlib inline

In [185]:
dic = bst.get_score(importance_type='gain')

In [187]:
import operator

In [194]:
features_sorted = sorted(dic.items(), key=operator.itemgetter(1), reverse=True)

In [207]:
import numpy as np

In [208]:
np.array(features_sorted[:17])[..., 0]

array(['var_422', 'var_242', 'var_243', 'var_300', 'var_467', 'var_302',
       'var_104', 'var_062_sbrf', 'var_142', 'var_125', 'var_003',
       'var_322', 'var_393', 'var_450', 'var_254', 'var_458', 'var_164'],
      dtype='<U18')

In [209]:
from catboost import CatBoostClassifier, Pool

In [210]:
train_pool = Pool(GR_train, y_gr_train)
test_pool = Pool(GR_test, y_gr_test)

In [211]:
from sklearn.metrics import roc_auc_score

In [223]:
model = CatBoostClassifier(iterations=10,
                           depth=4,
                           learning_rate=1,
                           loss_function='Logloss',
                           verbose=True)
# train the model
model.fit(train_pool)
# make the prediction using the resulting model
preds_proba = model.predict_proba(test_pool)
print(roc_auc_score(y_gr_test, preds_proba[..., 1]))

0:	learn: 0.6163717	total: 105ms	remaining: 947ms
1:	learn: 0.6112808	total: 188ms	remaining: 753ms
2:	learn: 0.6078485	total: 264ms	remaining: 616ms
3:	learn: 0.6052904	total: 372ms	remaining: 559ms
4:	learn: 0.6039910	total: 452ms	remaining: 452ms
5:	learn: 0.6027402	total: 526ms	remaining: 351ms
6:	learn: 0.6016026	total: 629ms	remaining: 269ms
7:	learn: 0.6010034	total: 711ms	remaining: 178ms
8:	learn: 0.6004454	total: 794ms	remaining: 88.2ms
9:	learn: 0.5997320	total: 892ms	remaining: 0us
0.6294476895033307

In [229]:
feat_index = model.feature_importances_.nonzero()[0]

In [233]:
list(data.columns[feat_index])

['var_003',
 'var_005',
 'var_007',
 'var_052',
 'var_055',
 'var_087',
 'var_101',
 'var_109',
 'var_140',
 'var_144',
 'var_150',
 'var_153',
 'var_161',
 'var_163',
 'var_196',
 'var_199',
 'var_211',
 'var_227',
 'var_235',
 'var_245',
 'var_247',
 'var_249',
 'var_253',
 'var_254',
 'var_283',
 'var_288',
 'var_308',
 'var_318',
 'var_322',
 'var_341',
 'var_346',
 'var_354',
 'var_360',
 'var_361',
 'var_411',
 'var_418',
 'var_425',
 'var_439',
 'var_467']